#page-flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
    opacity: 1;
    transform: scale(1);
    transition:
            opacity 1.5s ease-out,
            transform 1.5s ease-out;
}

#page-flash.hidden {
    opacity: 0;
    transform: scale(1.05); /* Немного увеличивается при исчезании — эффект вспышки */
    pointer-events: none;
}
