// Font - family
$font-family: "Work Sans", sans-serif;
$second-family: "Alegreya Sans", sans-serif;
$third-family: "Grape Nuts", sans-serif;
$font3: "Abril Fatface", sans-serif;
$font4: "Allison", sans-serif;

// Font - size
$title-h1-size: 4rem;
$title-h2-size: 3.25rem;
$title-h3-size: 2.75rem;
$title-h4-size: 2.5rem;
$biggest-text-size: 1.7rem;
$big-text-size: 1.25rem;
$text-size: 1rem;
$small-size: 0.90rem;

// Font - weight
$font-weight-title: 400;
$font-weight-text: 300;
$font-weight-light: 200;

// Color
$white-color: white;
$black-color: #000;
$gray-color: #4b4b4b;
$accent-color: #0099a3;

// Box - shadow
$box-shadow-news: 0 0 10px 0 rgba(0, 0, 0, 0.25);
$box-shadow-button: 0 0 20px 0 rgba(255, 255, 255, 0.25);
$box-shadow-fht: 0 0 25px 0 rgba(0, 0, 0, 0.25);
$box-shadow-md: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);

// Text - shadow
$text-shadow: 4px 3px 4px  rgba(0, 0, 0, 0.4);

// Media - breakpoints
$breakpoints-mobile: 450px;
$breakpoints-tablet: 768px;
$breakpoints-tablet-landscape: 990px;
$breakpoints-desktop: 1024px;

// Opacity
$bg-opacity: 0.5;

// Container - width
$container-width: 1400px;

// Margin
$section-margin : 80px;
$card-margin : 25px;